<div class="alert-container">
    <div <% if(alertMsg != ''){ %>style="display:block"<% } %> class="alert alert-dismissable">
        <a href="#" class="x">&times;</a>
        <div class="alert-text"><%= alertMsg %></div>
    </div>
</div>