<% include ./includes/header %>
            
            <div class="container">
                <div class="row">
                    
<h2><strong>Help Page</strong></h2>
<h3><strong>Frequently Asked Questions:</strong></h3>
<p>Q: <em>How many friends can I play with at a time?</em></p>
<p>A: The maximum amount of players per lobby is 4.</p>
<p>Q: <em>How much LP will I earn per match?</em></p>
<p>A: All players on the winning team will each earn 10 LP, more LP can be earned by betting LP in Pre-Match.</p>
<p>Q: <em>How do I earn more ladder points?</em></p>
<p>A: All players on the winning team will receive 20 Ladder Points. Players on the losing team will lose ladder points. The lowest amount of ladder points a person can have is 0.</p>
<p>Q: <em>I accidentally clicked away from my match, how do I get back?</em></p>
<p>A: Users can see where on the site they are at anytime by checking their status on the top left. Clicking your status will take you to wherever you are.</p>
<p>Q: <em>How do I handle a disputed match?</em></p>
<p>A: If a match is disputed, users will have the option to submit dispute tickets under the same place that they reported the match.</p>
<p>Q: <em>How do I redeem my LP?</em></p>
<p>A: Redeeming LP will not be available during the CPL beta but don&rsquo;t worry, all LP will carry over from the beta to the full version of Cod Pro League.</p>
<p>Q: <em>How does someone achieve the rank of Master or Global?</em></p>
<p>A: Players with the top 1% of ladder points will achieve the rank of Master, players with the top .1% of ladder points will achieve the rank of Global.</p>
<h3>For additional questions or concerns, please contact us at codproleague@gmail.com or tweet us @theCodProLeague</h3>
<br/>
<h3><strong>How Ranks Work:</strong></h3>
<p><em>Users will fall into these ranks based on their amount of ladder points</em></p>
<p>Bronze 5 - 0-99</p>
<p>Bronze 4 - 100-199</p>
<p>Bronze 3 - 200-299</p>
<p>Bronze 2 - 300-399</p>
<p>Bronze 1 - 400-499</p>
<p>Silver 5 - 500-599</p>
<p>Silver 4 - 600-699</p>
<p>Silver 3 - 700-799</p>
<p>Silver 2 - 800-899</p>
<p>Silver 1 - 900-999</p>
<p>Gold 5 - 1000-1099</p>
<p>Gold 4 - 1100-1199</p>
<p>Gold 3 - 1200-1299</p>
<p>Gold 2 - 1300-1399</p>
<p>Gold 1 - 1400-1499</p>
<p>Platinum 5 - 1500-1599</p>
<p>Platinum 4 - 1600-1699</p>
<p>Platinum 3 - 1700-1799</p>
<p>Platinum 2 - 1800-1899</p>
<p>Platinum 1 - 1900-1999</p>
<p>Diamond 5 - 2000-2099</p>
<p>Diamond 4 - 2100-2199</p>
<p>Diamond 3 - 2200-2299</p>
<p>Diamond 2 - 2300-2399</p>
<p>Diamond 1 - 2400-2500+</p>
<p>Master - Top 1% of Players</p>
<p>Global - Top .1% of Players</p>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 bottom-promo-box box ">
                        
                    </div>
                </div>
            </div>
        
            <div class="footer">
                
            </div>
            <% include ./includes/javascriptlinks %>
            <script src="js/main.js" type="text/javascript"></script>
    </body>
    
</html>