<% include ./includes/header %>
            <div class="container signup">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <h2>COD PRO LEAGUE TERMS AND CONDITIONS:</h2>

All CPL users agree to following terms and conditions and understand that consequences for not abiding by the terms and conditions will be given accordingly.

<h3>Section I (General):</h3>
<ol>
<li>CPL may change or discontinue any aspect or feature of CPL, including, but not limited to, content, hours of availability, and equipment needed for access or use.</li>
<li>When using CPL, you may be subject to additional posted policies, guidelines, or rules applicable to specific services and features which may be posted online from time to time.</li>
<li>CPL may at any time update and or alter the terms and conditions.</li>
<li>All users are responsible for maintaining and obtaining anything needed to use or access CPL.</li>
</ol>
<h3>Section II (Usage of CPL):</h3>
<ol>
<li>Please provide true, accurate, current, and complete information in your profile. Accurate and complete profiles provide us with information that can better improve the connection quality to other players to have a better experience when using CPL.</li>
<li>Contact CPL about any of the following:
<ol type="a">
<li>Usernames and Profile Pictures which may include inappropriate information such as but not limited to obscene or profane usernames, offensive or pornagraphic profile pictures, etc.</li>
<li>Inappropriate/unlawful links.</li>
<li>Personal information of other users.</li>
<li>Anything that may be considered harassment, threatful, promoting racism, or hatefulness towards any persons.</li>
<li>Website glitches and or security issues.</li>
<li>Fake accounts, spam, self advertising, or any other form of solicitation.</li>
</ol>
</li>
<li>Letters a-f above are examples of prohibited conduct and can result in indefinite bans. CPL may ban any user that it feels is involved with prohibited conduct. If a user feels they have been falsely banned, please contact us at codproleague@gmail.com</li>

<li>Using any bot, spider, scraper, crawler or other automated means to access CPL is prohibited and will result in an indefinite ban.</li>
<li>Claiming to be affiliated with CPL when you are not will result in a 2 week ban. Multiple offenses may result in a longer or even an indefinite ban.</li>
<li>Boosting in matchmaking or making multiple accounts will result in an indefinite ban.</li>
<li>Attempting to access another user’s account will result in an indefinite ban.</li>
<li>Accounts that have been inactive for 1 year or longer can be terminated by CPL.</li>
<li>You understand that all information on your profile is public and can be viewed by anyone.</li>
<li>CPL will host tournaments with top 3 winners. Winners of tournaments may be subject to bonus LP, badges, and or other prizes.</li>
</ol>
<h3>Section III (League Points):</h3>
<h4>Redeeming:</h4>
<ol>
<li>CPL will take a fee of 1% of all LP being redeemed.</li>
<li>All redemptions are final.</li>
<li>Please allow up to 24 hours for all redemptions to take place.</li>
<li>Players may redeem LP via PayPal</li>
<li>The value of 1 LP = 1 Cent (USD)</li>
<li>Players can earn LP from winning matches</li>
<li>LP can be lost from losing matches.</li>
<li>ANY attempts to receive free LP via glitches, hacking, etc. will result in an IP ban, account termination, and removal of all LP.</li>
</ol>
<h3>Section IV (Reporting a Match):</h3>
<ol>
<li>It is the responsibility of the players to accurately report either a win or loss after each match.</li>
<li>Failing to report a match may result in a temporary ban.</li>
<li>Failure to report a match accurately may result in an indefinite ban.</li>
<li>If nobody in the match reports within 1 hour, all players will receive a loss including the loss of all LP betted.</li>
<li>If ⅜+ players in a match report differently than one another, the match will be reported as a dispute. For more info on disputing see Section V.</li>
<li>Players must wait a minimum of 10 minutes to report a match once it has started.</li>
<li>Players will not be able to find a new game until the previous game has been reported.</li>
</ol>
<h3>Section V (Disputing):</h3>
<h4>Matches may only be disputed for the following reasons:</h4>
<ol>
<li>Wrong match settings</li>
<li>Exploiting glitches that provide an unfair advantage.</li>
<li>Players using anything banned from the ruleset.</li>

<li>*Note* Bad connection and or players failing to join the match are NOT valid reasons for a dispute, any persons who dispute for these reasons may be subject to a temporary ban.</li>

<li>If a player would like to dispute a match for reasons that are not listed in the Terms and Conditions they may do so.</li>
<li>Disputing is NOT taken lightly and should only be used as a last resort. False disputes may result in indefinite bans.</li>
<li>If a dispute occurs due to mixed reports, players must submit proof of who won or all players in the match will receive a loss and will lose all LP betted.</li>
<li>Dispute decisions made by admins are final and WILL NOT be changed.</li>
</ol>
<a id="bets"></a>
<h3>Section VI (Betting LP):</h3>
<ol>
<li>Once a match has begun and a player has bet any amount of LP, that bet is final and may not be reversed at any time.</li>
<li>Betting the correct amount of LP is the responsibility of the player and will not be changed.</li>
<li>Disputing a match due to reasons regarding LP may result in an indefinite ban.</li>
</ol>
<h3>Section VII (Smurfing):</h3>
<ol>
<li>Smurfing is the act of highly ranked players purposely dropping to lowerranks to give themselves an unfair advantage against some or all other players in the lobby. SMURFING WILL RESULT IN A PERMANENT IP BAN.</li>

<li>All players Ranked from Bronze 1 to Gold 5 on a win streak of 5 or more may be subject to profile review.</li>
<li>If a player is caught smurfing, they will instantly be IP banned with no exceptions, their account will be terminated, and all LP will be rendered useless.</li>
<li>A rapid drop in ladder points will make the user subject to a profile review.</li>
<li>If a player is often reported for smurfing, they may be subject to a profile review.</li>

<li>If you have been falsely banned, please contact us at codproleague@gmail.com</li>
</ol>

<h3>Section VIII (Reporting Players):</h3>
<ol>
<li>Players are encouraged to report any persons who show signs of suspicious behavior and or break the terms and conditions of CPL.</li>
<li>Users who report others excessively may be given an indefinite ban from CPL.</li>
<li>Falsely reporting other users is prohibited and will result in an indefinite ban.</li>
<li>Please ignore other users who may file false reports against you or other users using CPL.</li>
</ol> 
 


                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 bottom-promo-box box ">
                        
                    </div>
                </div>
            </div>
        
            <div class="footer">
                
            </div>
            <% include ./includes/javascriptlinks %>
            <script src="js/main.js" type="text/javascript"></script>
    </body>
</html>