<% include ./includes/header %>
            <div class="container content">
                <div class="row tournaments">
                    <% include ./includes/alert-top %>
                    <div class="col-lg-6">
                        <h1>Tournaments</h1>
                        <div class="box tournament">
                            <img src="/img/ps4cod4.jpg"/>
                            <div class="tournament-description">
                                <h2>2v2 SND</h2>
                                <h4>Console: Playstation 4</h4>
                                <h4>Start Time: 8:30PM EST</h4>
                                <h4>Entry Fee: FREE</h4>
                                <h4>Region: North America Only</h4>
                            </div>
                            <button class="btn btn-lg btn-success">More Information</button>
                        </div>
                        <div class="box tournament">
                            <img src="/img/ps4cod4.jpg"/>
                            <div class="tournament-description">
                                <h2>2v2 SND</h2>
                                <h4>Console: Playstation 4</h4>
                                <h4>Start Time: 8:30PM EST</h4>
                                <h4>Entry Fee: FREE</h4>
                                <h4>Region: North America Only</h4>
                            </div>
                            <button class="btn btn-lg btn-success">More Information</button>
                        </div>
                        <div class="box tournament">
                            <img src="/img/ps4cod4.jpg"/>
                            <div class="tournament-description">
                                <h2>2v2 SND</h2>
                                <h4>Console: Playstation 4</h4>
                                <h4>Start Time: 8:30PM EST</h4>
                                <h4>Entry Fee: FREE</h4>
                                <h4>Region: North America Only</h4>
                            </div>
                            <button class="btn btn-lg btn-success">More Information</button>
                        </div>
                    </div>
                    <div class="col-lg-6 right">
                        <div class="box tournament">
                            <img src="/img/ps4cod4.jpg"/>
                            <div class="tournament-description">
                                <h2>2v2 SND</h2>
                                <h4>Console: Playstation 4</h4>
                                <h4>Start Time: 8:30PM EST</h4>
                                <h4>Entry Fee: FREE</h4>
                                <h4>Region: North America Only</h4>
                            </div>
                            <button class="btn btn-lg btn-success">More Information</button>
                        </div>
                        <div class="box tournament">
                            <img src="/img/ps4cod4.jpg"/>
                            <div class="tournament-description">
                                <h2>2v2 SND</h2>
                                <h4>Console: Playstation 4</h4>
                                <h4>Start Time: 8:30PM EST</h4>
                                <h4>Entry Fee: FREE</h4>
                                <h4>Region: North America Only</h4>
                            </div>
                            <button class="btn btn-lg btn-success">More Information</button>
                        </div>
                        <div class="box tournament">
                            <img src="/img/ps4cod4.jpg"/>
                            <div class="tournament-description">
                                <h2>2v2 SND</h2>
                                <h4>Console: Playstation 4</h4>
                                <h4>Start Time: 8:30PM EST</h4>
                                <h4>Entry Fee: FREE</h4>
                                <h4>Region: North America Only</h4>
                            </div>
                            <button class="btn btn-lg btn-success">More Information</button>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="footer">
                
            </div>
            <% include ./includes/javascriptlinks %>
            <script src="/js/main.js" type="text/javascript"></script>
    </body>
    
</html>